body {
  background-color: hsla(30, 95%, 75%, .5);
  margin: 0;
}

h1 {
  text-align: center;
  margin: 5px;
}

ul {
 position: absolute;
 top: 5px;
 font-size: 1.5rem;
}

a {color: hsla(210, 95%, 65%, 1);}

.product-img {
  width: 125px;
  height: 125px;
  border: 2px black solid;
  transition: .2s;
  transition: height width 2s;
  cursor: pointer;
}

.product-img:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 4px hsla(30, 95%, 75%, 1) solid;
  margin: 0;
}

.img-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px;
  justify-content: center;
  gap: 3px;
}

.big {
  height: 250px;
  width: 250px;
}

li {
  display: inline;
}


form {
  text-align: center;
  margin: 10px;
}

#cartContents {
  text-align: center;
  font-size: 1.5rem;
}

.cart-card {
  width: 20%;
  text-align: center;
  margin: 0 auto;
  border: 2px hsla(210, 95%, 65%, 1) solid;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
  text-align: center;
  height: 3vh;
  color: hsla(210, 95%, 75%, 1);
}

select {
  width: 30%;
  background-color: white;
  min-width: 15ch;
  max-width: 100px;
  border: 2px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

input[type= 'number'] {
  width: 30%;
  background-color: white;
  min-width: 15ch;
  max-width: 100px;
  border: 2px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

input[type= 'submit'] {
  padding: 1em;
  background-color: hsla(210, 95%, 75%, 1);
  border-radius: 20px;
  color: white;

}

label {
  font-size: 1.5rem;
  margin-right: 10px;
}